<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>My Blog Site</title>
        <meta name="description" content="Blogs">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheet/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
    </head>
    <body>
    	<div class="ui inverted menu">
		 <div class=" ui container">
		 	<a class="item">Code-Blogs</a>
		 	
		 	<a class="ui active item" href="/blogs">
		    	Blogs
			 </a> 
		  	
		  	<a class="item" href="/blogs/new">
		    	Create Blog
		 	</a>
		 </div>
		  
		</div>