<% include ./partials/header %>

<form class="ui form container" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
  <div class="field">
    <label>Blog Title</label>
    <input type="text" name="blog[title]" value="<%=blog.title%>">
  </div>
  <div class="field">
    <label>Blog Image</label>
    <input name="blog[image]" value="<%=blog.image%>">
  </div>
  <textarea name="blog[body]"><%=blog.body%></textarea>

  <button class="ui clasic blue big button" type="submit">Submit</button>
</form>


<% include ./partials/footer %>

<!-- action="/blogs/<%=blog._id%>?_method=PUT" -->