<% include ./partials/header %>

<% blogs.forEach(function(blog){ %>
	<div class "row">
		<div class ="equal width grid">
		<div class="ui card container ">
			<div class="image">
				<img class="ui medium rounded image" src="<%= blog.image %>" alt="">
			</div>
			<h3 class = "header"><%= blog.title %></h3>
		<div class="content">
				<p><%= blog.body.substring(0, 100) %>...</p>
			</div>
			<a class = "ui clasic green button" href="/blogs/<%=blog._id%>">Read More</a>
			<a class = "ui clasic green button" href="/blogs/<%=blog._id%>/edit">Edit Blog</a>
		</div>
	</div>
	</div>
 <%});%>

<% include ./partials/footer %>
