<% include ./partials/header %>

<form class="ui form container" action="/blogs" method="POST">
  <div class="field">
    <label>Blog Title</label>
    <input type="text" name="blog[title]" placeholder="Blog Title">
  </div>
  <div class="field">
    <label>Blog Image</label>
    <input type="text" name="blog[image]" placeholder="Image url">
  </div>
  <textarea name="blog[body]" id="" cols="30" rows="10"></textarea>

  <button class="ui button" type="submit">Submit</button>
</form>

<% include ./partials/footer %>


