<% include ./partials/header %>

	<div class="ui card container ">
		<img class="ui rounded image" class="ui medium rounded image" src="<%= blog.image %>" alt="">
	</div>
	
		<h1 class="ui container"><%= blog.title %></h1>
		<p class="ui container"><%= blog.body %></p>

			<form class= 'ui card container ' action="/blogs/<%=blog._id%>?_method=DELETE" method="POST" method = "POST">
					<button class="ui clasic red button">DELETE</button>
			</form>
 

<% include ./partials/footer %>